<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelier - Hotel Register</title>
   
    <!-- Template Stylesheet -->
     <link rel="stylesheet" href="/static/css/form.css">

</head>

<body>
    

    <!-- body start -->
    <div class="auth-container">
        <!-- {% if success %}
        <p style="color:green;">Form submitted successfully!</p>
         {% endif %} -->
        <form class="auth-form" action="" method="POST" id="register-form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Register</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required autocomplete="new-password">
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm_password" required>
            </div>
             <div class="input-group">
                <label for="file">File</label>    
                <input type="file" id="file" name="file"  >
             </div>
            {% if password %}
             <p style="color:red;">password and confirm-password does not match</p>
            {% endif %}
            <button type="submit">Register</button>
            <p class="form-link">
                <a href="/login/">Already have an account? Login</a>
            </p>
        </form>
    </div>
    <!-- body end  -->

     

</body>

</html>