<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show data</title>
</head>

<body>
     

    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
            <th>Action</th>
        </tr>

        <!-- jinja pattern for loop -->
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.username}}</td>
            <td>{{i.email}}</td>
            <td>{{i.password}}</td>
            <td><button><a href="/delete/{{i.id}}">Delete</a></button></td>
            <td><button><a href="/update/{{i.id}}">Update</a></button></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/register/">For Register</a>
</body>

</html>